/*

!src/
!README.md
!.gitignore
!scripts/
!scripts/benchmarking/**
!scripts/generate-topologies/**
!scripts/view-topo/**

!src/**

.DS_Store
__pycache__
*.jsonl
*.secret
*.backup
*.bak
*.swp
*.tmp
**/.terraform/*
*.tfstate
*.tfstate.*
.Rproj.user
